---
import Layout from '../layouts/Layout.astro';
import TheButton from "../assets/components/the-button.astro"
---

<Layout title="Welcome to Astro.">
	<TheButton>
		<TheButton/>
	</main>
</Layout>

<style></style>
