// container
$container-width: 1320px;
$container-paddings: 0 20px;
// font
$primary-font: 'Sen';

// font-sizes
$big-text: 56px;
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

$text-regular: 16px;
$text-small: 14px;

$lh-regular:28px;
$lh-small:20px;

// colors
$primary: #ffd050;
$secondary: #232536;
$accent: #592ea9;
$grey-500: #4c4c4c;
$grey-400: #6d6e76;
$grey-300: #f4f4f4;
$grey-200: #f4f0f8;
$light: #fbf6ea;